@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.side-container {
width: 30vw;
}

.sidemenushow {
    left: 0;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #8444df;
    position: fixed;
    color: white;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 10vw;
    z-index: 1;
}

.sidemenu p{
    text-align: center;
    padding: 30px 15px;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #773dc8;
    text-transform: uppercase;
}

.sidemenu:hover {
    width: 18vw;
}
.nav {    
    display: block;
    height: 80%;
    margin: 4rem 0
}

a i {
    display: inline;
}

.nav ul {
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.desktop {
    display: none;
}

.nav:hover {
    width: 15vw;
}
.sidemenu:hover .desktop {
    display: inline-block;
}

ul li {
    display: flex;
    align-content:space-between;
    justify-content:space-evenly; 
}

.sidemenu .nav a {
    padding: 13px 17px;
    display: block;
    margin-bottom: 10px;
    font-size: 1.3rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    border-radius: 6px;
    width: 100%;
    position: relative;
    color: #fff;
    text-decoration: none;
}

li a:hover {
background-color: #cdbee262;
padding: 10px 15px;
border-radius: 5px;
}

.desktop {
    padding : 0 10px;
}

.btn-time {
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    display: none;
    color: #8444df;
    font-size: 26px;
}

.up-btn {
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 10;
    font-size: 26px;
    color: red;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,.4), 0 4px 6px rgba(0,0,0,.2);
}
.container {
    background-color: #fff;
    height: auto;
    width: 268%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    /* padding: 0 10px; */
    /* overflow: hidden; */
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img img {
    width: 350px;
    height: 350px;
    margin-right: 4rem;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
}

.social-link {
    margin: 2rem;
}
.btn-a {
    background-color: #8444df;
    padding: 15px 35px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 300;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-decoration: none;
    color: #fff;
    margin: 1rem;
}

.btn-a:hover {
    background-color: #9f75da;
    box-shadow: 0 0 10px #00000081;
    color: #000;
}
.greeting {
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.2;
}
.name {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 24px 0;
}
.name span {
    color: #8444df;
}
.bio {
    letter-spacing: 1px;
    color: #5F6F81;
    font-size: 1rem;
    min-width: 250px;
    line-height: 1.4;
}
.social {
    padding: 9px 10px;
    background-color: white;
    border-radius: 6px;
    color: #8444df;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 4px 6px rgb(134 151 168 / 10%);
    box-shadow: 0px 4px 6px rgb(134 151 168 / 10%);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: inline-block;
    margin: 1rem;
}
.tech-container {
    width: 100%;
    height: 100vh;
}
 /* h1 {
    color: #fff;
    padding-top: 2rem;
    font-size: 5rem;
} */
.tech {
    background-color: #fff;
    border-radius: 50px;
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    width: 110px;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 5px;
}
.card-img {
    width: 80px;
    height: 80px;
}
.card label {
    text-transform: uppercase;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin: 0.5rem;
}
.line {
    display: inline-block;
    width: 50px;
    background-color: #000;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
margin: 1rem;
}

.about-container {
    width: 100%;
    height: 100vh;
}
.about-inner {
    background-color: #fff;
    border-radius: 50px;
    padding: 48px;
}
.project-container {
    width: 100%;
    height: 100vh;
}

.contact-container {
    width: 100%;
    height: 100vh;
}

@media (max-width: 568px) {
    .container,
    .contact-container,
    .project-container,
    .about-container,
    .tech-container,
    .home-container {
        width: 100vw;
    }
    .d-none {
        display: none;
    }
    .sidemenu:hover .desktop {
        display: none;
    }
    .nav ul {
        padding-inline-start: 20px;
    }
    .btn-time {
        display: inline-block;
    }
    .sidemenu {
            width: 25vw;
    }
    .sidemenu:hover {
        width: 25vw;
        z-index: 1;
    }
    li a {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    /* home */
    .home {
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
    .sammery {
        text-align: center;
        padding: 1rem 0;
    }
    .tech-container{
        width: 100%;
    }
   h1 {
        font-size: 2rem;
    }    
    .card{
        width: 90px;
        height: 80px;
        margin: 5px;
    }
    .card-img {
        width: 50px;
        height: 50px;
    }
    .card label {
        font-size: 12px;
    }

    .home-container{
        flex-direction: column;
    }
    .img img {
        width: 250px;
        height: 250px;
    }
}


.innerWrapper {
    padding: 0 33px;
    max-width: 1140px;
    margin: 0 auto;
}
